* {
    margin: 0;
    padding: 0;
}
/* Desafio 04*/

.titulo-blog {
    color: chocolate;
    margin: 1rem;
    border: 1rem;
}

.texto-destaque {
    color: burlywood;
    padding: 1rem;
}

.urgente {
    color: red;
    padding: 1rem;
}